<%= form_for(@auspiciadore, :html => {:multipart => true, :class=>"form-horizontal"}) do |f| %>
  <% if @auspiciadore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@auspiciadore.errors.count, "error") %> prohibited this auspiciadore from being saved:</h2>

      <ul>
      <% @auspiciadore.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :nombre, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :nombre %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :image, :class => "control-label" %>
    <div class="controls">
    <%= f.file_field :image %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :descripcion, :class => "control-label" %>
    <div class="controls">
    <%= f.text_area :descripcion %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
    <%= f.submit :class => "btn" %>
    </div>
  </div>
<% end %>
