<div class="span12">

  <!-- Examples
================================================== -->
<section id="examples">
  <div class="page-header">
    <h1>Ponentes CIIS Tacna 2012</h1>
  </div>
  <p>

  <%= link_to "Agregar Ponente", "/ponentes/new", :class=>"btn btn-primary" %>

  </p>
  <div class="alert alert-block">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Recomendaciones</h4>
    <p>Al momento de editar el resumen del ponente, procurar que todos los resumenes tengan la misma cantidad de caracteres para no
      deformar el diseño de la pagina.</p>
  </div>


  <h3>Ponentes Internacionales</h3>
  <ul class="thumbnails bootstrap-examples">
    <% @ponentes_internacionales.each do |ponentes_internacionale|  %>
        <li class="span3">
          <div class="thumbnail">
            <%= image_tag ponentes_internacionale.image_url(:mini).to_s %>
            <div class="caption">
              <h5><%= ponentes_internacionale.nombre[0,25] %></h5>
              <p><%= ponentes_internacionale.resumen[0,25] %></p>
              <p>
                <% if can? :show, ponentes_internacionale %>
                    <%= link_to "Ver", "/ponentes/#{ponentes_internacionale.id}", :class => "btn" %>
                <% end %>

                <% if can? :update, ponentes_internacionale %>
                    <a href="/ponentes/<%= ponentes_internacionale.id %>/edit" class="btn">Editar</a>
                <% end %>
                <% if can? :destroy, ponentes_internacionale %>
                    <%= link_to 'Del', ponentes_internacionale, confirm: 'Esta Seguro que deseas eliminar ?', method: :delete, :class => "btn" %>
                <% end %>
              </p>
            </div>
          </div>
        </li>
    <% end %>
  </ul>

  <h3>Ponentes Nacionales</h3>
  <ul class="thumbnails bootstrap-examples">
    <% @ponentes_nacionales.each do |ponentes_nacionale|  %>
        <li class="span3">
          <div class="thumbnail">
            <%= image_tag ponentes_nacionale.image_url(:mini).to_s %>
            <div class="caption">
              <h5><%= ponentes_nacionale.nombre[0,25] %></h5>
              <p><%= ponentes_nacionale.resumen[0,25] %></p>
              <p>
                <% if can? :show, ponentes_nacionale %>
                    <%= link_to "Ver", "/ponentes/#{ponentes_nacionale.id}", :class => "btn" %>
                <% end %>

                <% if can? :update, ponentes_nacionale %>
                    <a href="/ponentes/<%= ponentes_nacionale.id %>/edit" class="btn">Editar</a>
                <% end %>
                <% if can? :destroy, ponentes_nacionale %>
                    <%= link_to 'Del', ponentes_nacionale, confirm: 'Esta Seguro que deseas eliminar ?', method: :delete, :class => "btn" %>
                <% end %>
              </p>
            </div>
          </div>
        </li>
    <% end %>
  </ul>

  <h3>Ponentes para Talleres</h3>
  <ul class="thumbnails bootstrap-examples">
    <% @ponentes_tallers.each do |ponentes_taller|  %>
        <li class="span3">
          <div class="thumbnail">
            <%= image_tag ponentes_taller.image_url(:mini).to_s %>
            <div class="caption">
              <h5><%= ponentes_taller.nombre[0,25] %></h5>
              <p><%= ponentes_taller.resumen[0,25] %></p>
              <p>
                <% if can? :show, ponentes_taller %>
                    <%= link_to "Ver", "/ponentes/#{ponentes_taller.id}", :class => "btn" %>
                <% end %>

                <% if can? :update, ponentes_taller %>
                    <a href="/ponentes/<%= ponentes_taller.id %>/edit" class="btn">Editar</a>
                <% end %>
                <% if can? :destroy, ponentes_taller %>
                    <%= link_to 'Del', ponentes_taller, confirm: 'Esta Seguro que deseas eliminar ?', method: :delete, :class => "btn" %>
                <% end %>
              </p>
            </div>
          </div>
        </li>
    <% end %>
  </ul>





</section>



</div>
</div>


