<% content_for :head_titulo do %>
    <h1>Auspiciadores CIIS 2012</h1>
    <p class="lead">Gracias a ellos es que este evento se lleva acabo.</p>
<% end %>
<section>
  <div class="page-header">
    <h1>Todos los Auspiciadores del Evento</h1>
  </div>
  <ul class="thumbnails">
    <% @auspiciadores.each do |auspiciadore| %>
        <li class="span3">
          <div class="thumbnail">
            <a href="/inicios/auspiciadore_detalle/<%= auspiciadore.id %>"><%= image_tag auspiciadore.image_url(:mini).to_s %></a>
            <div class="caption">
              <h6><%= auspiciadore.nombre[0,25] %></h6>
              <p>
                <%= link_to raw('<i class="icon-share"></i> Mas Info'), "/inicios/auspiciadore_detalle/#{auspiciadore.id}", :class=>"btn" %>
              <div class="fb-like" data-href="http://ciistacna.com/inicios/auspiciadore_detalle/<%= auspiciadore.id %>" data-send="false" data-layout="button_count"  data-show-faces="false"></div>
              </p>
            </div>
          </div>
        </li>
    <% end %>
  </ul>
  <br>
  <br>
  <p>
    <div class="fb-like" data-href="http://ciistacna.com/inicios/auspiciadores" data-send="false" data-width="700" data-show-faces="true"></div>
    <div class="fb-comments" data-href="http://ciistacna.com/inicios/auspiciadores" data-num-posts="5" data-width="700"></div>
    <div class="fb-like-box" data-href="https://www.facebook.com/ciistacna?ref=hl&amp;bookmark_t=page" data-width="700" data-show-faces="true" data-stream="false" data-header="false"></div>
  </p>
</section>