<% content_for :head_titulo do %>
    <h1>Ponente CIIS Tacna 2012 </h1>
    <p class="lead">El evento son los dias 5,6 y 7 de Diciembre.</p>
<% end %>


<section>

  <ul class="breadcrumb">
    <li><a href="/">Inicio</a> <span class="divider">/</span></li>
    <li><a href="/inicios/ponentes">Ponentes</a> <span class="divider">/</span></li>
    <li class="active"><%= @ponente.nombre %></li>
  </ul>

  <div class="page-header">
    <h1><%= @ponente.nombre %></h1>
  </div>
  <p>
    <%= image_tag @ponente.image_url.to_s %>
  </p>
  <h3>Resumen:</h3>
  <p><%= @ponente.resumen %></p>
  <h3>Contenido:</h3>
  <p><%= raw(@ponente.descripcion) %></p>
  <p>
    <div class="fb-like" data-href="http://ciistacna.com/inicios/ponentes_detalle/<%= @ponente.id %>" data-send="false" data-width="700" data-show-faces="true"></div>
    <div class="fb-comments" data-href="http://ciistacna.com/inicios/ponentes_detalle/<%= @ponente.id %>" data-num-posts="5" data-width="700"></div>
  </p>
</section>