<% content_for :head_titulo do %>
    <h1>Ponentes CIIS - Tacna</h1>
    <p class="lead">Todos ellos confirmados para el evento internacional 2012.</p>
<% end %>

<section>
  <div class="page-header">
    <h1>Lista de Ponentes <small>CIIS Tacna 2012</small></h1>
  </div>

    <ul class="thumbnails">
      <% @ponentes.each do |ponente| %>
      <li class="span3">
        <div class="thumbnail">
          <a href="/inicios/ponentes_detalle/<%= ponente.id %>"><%= image_tag ponente.image_url.to_s %></a>
          <div class="caption">
            <h5><%= ponente.nombre[0,25] %></h5>
            <p><%= ponente.resumen[0,43] %></p>
            <p>
              <%= link_to raw('<i class="icon-share icon-white"></i> Detalles'), "/inicios/ponentes_detalle/#{ponente.id}", :class=>"btn btn-primary" %>
                <div class="fb-like" data-href="http://ciistacna.com/inicios/ponentes_detalle/<%= ponente.id %>" data-send="false" data-layout="button_count" data-show-faces="false"></div>
            </p>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  <p>
  <div class="fb-like" data-href="http://ciistacna.com/inicios/ponentes" data-send="false" data-width="700" data-show-faces="true"></div>
  <div class="fb-comments" data-href="http://ciistacna.com/inicios/ponentes" data-num-posts="5" data-width="700"></div>
  </p>

</section>