<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CIIS Tacna 2012 - UNJBG</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">


  <!-- Le styles -->
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "docs" %>


  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->


</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar">

<%= render :partial => "shared/menu" %>

<div class="jumbotron masthead">
  <div class="container">
    <h1>CIIS Tacna 2012</h1>
    <p>XIII Congreso Internacional de Informática y Sistemas Tacna 5,6 y 7 de  Diciembre del 2012</p>
    <p>
      <a href="#inscripcion" class="btn btn-primary btn-large"><%= image_tag "glyphicons_030_pencil.png" %> Inscribete 15% menos</a>
      <a href="/inicios/contacto" class="btn btn-info btn-large" ><%= image_tag "glyphicons_043_group.png" %> Escribenos</a>
    </p>

  </div>
</div>

<div class="bs-docs-social">
  <div class="container">
    <ul class="bs-docs-social-buttons">
      <li><%= link_to raw("<i class='icon-calendar'></i> Afiche CIIS Tacna 2012.jpg"), "https://s3.amazonaws.com/ciistacna/afiche_ciis_tacna_web_2.jpg", :target => "_blank"
      %></li>
    </ul>
  </div>
</div>

<div class="container">

  <%= yield %>

</div>



<%= render :partial => "shared/footer" %>



</body>
</html>

